
.clip-left-triangle {
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
  
  .clip-right-triangle {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
  .marginal {
    width: 86%;
    max-width: 1300px;
    margin: auto;
    padding: 2% 0;
}